/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* MENU OG BURGERMENU */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-right: 15px; /* Måske ændres? */
  align-items: center; /* vertikal centrering */
  font-size: 16px;
  /* font-family: playfair; */
  background-color: var(--primary-color);
}

.logo img {
  max-width: 90px; /* Fast bredde */
  height: auto;
  margin: 5px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 60px; /* mellemrum mellem menupunkterne */
}
.menu a {
  display: block;
  color: var(--background-color);
  text-decoration: none;
}
.menu a:hover {
  color: var(--green-color);
}

.burger {
  width: 30px;
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--background-color);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 850px) {
  .menu {
    display: none;
  }
  .logo img {
    max-width: 70px; /* Fast bredde */
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 15px;
  }
}

/* MOBILE-FIRST */

/* FORSIDE */
main {
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.cta {
  text-align: end;
  margin-top: 10px;
  margin-bottom: 80px;
}

.grid_1-1_til_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projekt a {
  text-decoration: none;
}

.projekt a :hover {
  color: var(--green-color);
}

/* 02_WEB-SIDE */
h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.macbook {
  display: none;
}

.flex {
  margin: 80px auto 0px;
  width: 300px;
}

.grid_1-1-1 {
  display: grid;
}

.order-1 {
  order: -1;
}

.margin-ekstra {
  margin-top: 40px;
}

main ul {
  margin-left: 20px;
}

/* 03_UX-SIDE */
.grid_1-1 {
  display: grid;
}

.ai-billeder {
  width: 300px;
  margin: 20px auto;
}

/* 04_ANIMATION-SIDE */
.grid_2-1 {
  display: grid;
}

.disco {
  width: 300px;
  margin: 0px auto 10px;
}

/* 05_INDHOLD-SIDE */
.grid_1-1 .col {
  display: flex;
  flex-direction: column;
}

/* DESKTOP */
@media (min-width: 850px) {
  /* FORSIDE */
  main {
    margin: 0px;
  }
  section {
    border-bottom: 2px solid var(--primary-color);
    padding: 50px 100px 0px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .grid_1-1_til_1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0px 100px;
    gap: 0px;
  }

  .grid_1-1_til_1-1-1-1 .projekt {
    border-right: 2px solid var(--primary-color);
  }

  .grid_1-1_til_1-1-1-1 .projekt:last-child {
    border-right: none;
  }

  .projekt img {
    padding: 20px;
  }

  /* 02_WEB-SIDE */
  .web-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding-bottom: 50px;
  }
  .web-grid img {
    order: 0;
  }

  .web-grid h1,
  .web-grid .cta {
    text-align: left;
  }

  .web-grid .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* placerer h1 og cta nederst i kolonnen */
    /* padding-bottom: 60px; */
  }

  .web-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .macbook {
    display: block;
  }

  .web-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 80px 0px;
  }
  .web-grid3 img {
    margin: 0px;
    order: 0;
  }
  .flex {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .web-grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section4 {
    max-width: 1000px;
    margin: auto;
    border-bottom: none;
    margin-bottom: 100px;
  }
  .section4 h2 {
    text-align: center;
    padding-bottom: 10px;
  }
}
