/* COLOR-VARIABLE */
html {
  --primary-color: #6a0225;
  --secondary-color: #9b0437;
  --background-color: #f2f2f2;
  --text-color: #3c3937;
  --footer-color: #e4e4e4;
  --green-color: #1c9f59;
  --rosa-color: #ddb5b0;
}

/* UNIVERS-FONT */
@font-face {
  font-family: "universregular";
  src: url("../univers-font/universregular-webfont.woff2") format("woff2"), url("../univers-font/universregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "universbold";
  src: url("../univers-font/universbold-webfont.woff2") format("woff2"), url("../univers-font/universbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* MOBILSITE */
body {
  background-color: var(--background-color);
}
video {
  filter: grayscale(100%);
}
/* GENEREL STYLING AF TEKST */
h1 {
  font-family: "Chonburi";
  font-weight: 400;
  font-size: 45px;
  color: var(--primary-color);
}

h2 {
  font-family: "Chonburi";
  font-weight: 400;
  font-size: 30px;
  color: var(--primary-color);
}

h3 {
  font-family: "Chonburi";
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-color);
}

p,
ul,
li,
a {
  font-family: "universregular";
  font-size: 16px;
  color: var(--text-color);
}

/* CV */
.bold {
  font-family: "universbold";
  padding-top: 20px;
}
.light {
  color: var(--rosa-color);
}

/* CTA-KNAP OG PIL */
.cta a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
}

.cta a::before {
  content: "\2192"; /* Unicode for pil → */
  font-size: 1rem; /* Justér størrelsen */
  margin-right: 5px; /* Lidt afstand mellem pilen og teksten */
  color: var(--secondary-color);
}

.cta a span {
  text-decoration: underline; /* Understreg kun teksten */
}

.cta a :hover {
  color: var(--green-color);
}

/* DESKTOP */
@media (min-width: 850px) {
  /* GENEREL STYLING AF TEKST */
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  p,
  ul,
  li {
    font-size: 18px;
  }
}
